[dir="ltr"] .md-typeset ul {
    margin: 0;
}
[dir="ltr"] .md-typeset ul li {
    margin: 0;
    display: inline-grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
}

.md-typeset li a {
    font-size: small;
    color: unset;
    text-decoration: none;
    min-height: 50px;
    margin: 4px;
    padding: 4px;
    border: 1px solid #dedede;
    border-radius: 8px;
    /* justify-content: center; */
}
