.md-grid {
    max-width: unset;
    margin-left: 8px;
    margin-right: 8px;
}
.md-content__inner {
    margin: 0;
}
[dir="ltr"] .md-typeset ul {
    margin-left: 0px;
}
[dir="ltr"] .md-typeset ul li {
    margin-left: 0;
    display: inline-grid;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    box-shadow: 1px 2px 3px #ddd;
    grid-template-columns: repeat(auto-fit, minmax(148px, 1fr));
}
.md-typeset li a {
    font-size: small;
    color: unset;
    padding: 4px;
    min-height: 50px;
}